{% extends 'base.html.twig' %}

{% block body_id 'productEdit' %}

{% block main %}

    <div class="container mt-2">

        {% for message in app.session.flashbag.get('message') %}
            <div class="alert alert-success" id="message">
                <i class="fa fa-thumbs-up"></i> {{ message }}
            </div>
        {% endfor %}

        {% set category, title, description, price =
            app.session.get('productToEdit')['category'],
            app.session.get('productToEdit')['title'],
            app.session.get('productToEdit')['description'],
            app.session.get('productToEdit')['price']
        %}

        <form method="POST" action="{{ path('productEdit', {'id': product.id}) }}" enctype="multipart/form-data">

            <div class="form-group">
                <label for="category">Product category</label>
                <select name="product[category]"
                        class="form-control {{ form_errors(form.category) ? 'is-invalid' : product.category != category ? 'is-valid' : '' }}"
                        id="category">
                    {#<option value="" {{ product is defined and product.category is not empty ? '' : 'selected' }}>#}
                        {#choose#}
                    {#</option>#}
                    {% for category in categories %}
                        <option value="{{ category.id }}" {{ product is defined and product.category is not empty ? category.id == product.category.id ? 'selected' : '' }}>{{ category.name }}</option>
                    {% endfor %}
                </select>

                {% if form_errors(form.category) %}
                    <div class="invalid-feedback">{{ form_errors(form.category) }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="title">Product title</label>
                <input
                        type="text"
                        name="product[title]"
                        id="title"
                        class="form-control {{ form_errors(form.title) ? 'is-invalid' : product.title != title ? 'is-valid' : '' }}"
                        value="{{ product.title|default('') }}"
                >

                {% if form_errors(form.title) %}
                    <div class="invalid-feedback">{{ form_errors(form.title) }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="description">Product description</label>
                <textarea
                        type="text"
                        name="product[description]"
                        id="description"
                        class="form-control {{ form_errors(form.description) ? 'is-invalid' : product.description != description ? 'is-valid' : '' }}"
                >{{ product.description|default('') }}</textarea>

                {% if form_errors(form.description) %}
                    <div class="invalid-feedback">{{ form_errors(form.description) }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="price">Product price</label>
                <input
                        type="text"
                        name="product[price]"
                        id="price"
                        class="form-control {{ form_errors(form.price) ? 'is-invalid' : product.price != price ? 'is-valid' : '' }}"
                        value="{{ product.price|default('') }}"
                >

                {% if form_errors(form.price) %}
                    <div class="invalid-feedback">{{ form_errors(form.price) }}</div>
                {% endif %}
            </div>

            <div class="form-group form-check">
                <input
                        type="checkbox"
                        name="product[topProduct]"
                        id="topProduct"
                        class="form-check-input"
                        {{ product is defined and product.topProduct is not empty ? 'checked' : '' }}>
                <label class="form-check-label" for="topProduct">Top product</label>
            </div>

            <div class="form-group form-check {{ product is defined and product.isOutOfStock is not empty ? 'alert-danger' : 'alert-warning' }}">
                <input
                        type="checkbox"
                        name="product[isOutOfStock]"
                        id="outOfStock"
                        class="form-check-input"
                        {{ product is defined and product.isOutOfStock is not empty ? 'checked' : '' }}>
                <label class="form-check-label" for="outOfStock">Out of stock</label>
            </div>

            <div class="form-group">
                <label for="image">Product picture (only jpeg & png, max size 2.0 MB)</label>
                <input type="file" name="product[image]" id="image"
                       class="form-control {{ form_errors(form.image) ? 'is-invalid' : '' }}">

                {% if form_errors(form.image) %}
                    <div class="invalid-feedback">{{ form_errors(form.image) }}</div>
                {% endif %}
            </div>

            <span class="element-divider mt-3 mb-2"></span>

            <button type="submit" class="btn btn-primary">Edit product</button>

            <a href="{{ path('homepage') }}">
                <button type="button" class="btn btn-primary">Cancel</button>
            </a>

            {{ form_row(form._token) }}
        </form>

    </div>

{% endblock %}