{% extends 'base.html.twig' %}

{% block body_id 'productView' %}

{% block main %}

    <div class="container mt-3">

        {% for message in app.session.flashbag.get('message') %}
            <div class="alert alert-success text-center" id="message">
                <i class="fa fa-thumbs-up"></i> {{ message }}
            </div>
        {% endfor %}

        <h2>{{ product.title }}</h2>

        <div class="columns-set p-img-wrapper mb-3">
            <div class="p-image">
                <img src="{{ asset('images/uploads/products/' ~ product.image) }}" alt="Product picture">
            </div>
            {% if product.topProduct %}
                <div class="tp-badge-p">
                    <img src="{{ asset('images/top-product-badge.png') }}" alt="Badge picture">
                </div>
            {% endif %}
        </div>

        <div class="columns-set price-addToCart-wrapper mb-3">
            <div class="show-row text-center">
                {#WISH LIST#}
                {% if app.user and product in app.user.wishList %}
                    <div class="text-right h1">
                        <a href="{{ path('wishListEdit', {'productId': product.id, 'pView': '1'}) }}" class="active-color" title="Remove from wish list">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </a>
                    </div>
                {% else %}
                    <div class="text-right h1">
                        <a href="{{ path('wishListEdit', {'productId': product.id, 'pView': '1'}) }}" class="active-color" title="Add to wish list">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </a>
                    </div>
                {% endif %}
                {#PRICE#}
                <div class="col-change-price text-left"
                ><span class="extra-large-fonts">{{ product.price|number_format(2, ".", "") }}</span> LV.
                </div>
                {#ADD TO CART BUTTON#}
                <div class="col-change-cart">
                    <div class="row btn btn-primary from-max-width btn-no-hover">
                        {% if product.outOfStock %}
                            <button class="btn btn-primary">OUT OF STOCK</button>
                        {% else %}
                            <a href="{{ path('addToCart', {'productId': product.id}) }}" class="btn btn-primary">Add to Cart</a>
                        {% endif %}
                    </div>
                </div>
                {#ORDERED#}
                <div class="text-right h6 m-2">{{ product.orderedCount }} ordered</div>
            </div>
        </div>

        <div class="row">
            <h6 class="font-weight-bold">Description</h6>
        </div>

        <div class="row">{{ product.description }}</div>

        {% if app.getUser() and app.getUser.isAdmin() %}
            <span class="element-divider mt-3 mb-2"></span>
            <div class="col-12 text-right">
                <a href="{{ path('productEdit', {'id': product.id}) }}">
                    <button type="button" class="btn btn-dark btn-sm btn-shadow">Edit product</button>
                </a>
            </div>
        {% endif %}

    </div>

{% endblock %}