{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}

    <form action="{{ path('register') }}" method="post">
        <div>
            <label for="firstName">First Name: </label>
            <input type="text" name="user[firstName]" id="firstName" value="{{ user.firstName|default('') }}">
            {{ form_errors(form.firstName) }}
        </div>
        <div>
            <label for="lastName">Last Name: </label>
            <input type="text" name="user[lastName]" id="lastName" value="{{ user.lastName|default('') }}">
            {{ form_errors(form.lastName) }}
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" name="user[email]" id="email" value="{{ user.email|default('') }}">
            {{ form_errors(form.email) }}
        </div>
        <div>
            <label for="phone">Phone Number: </label>
            <input type="text" name="user[phone]" id="phone" value="{{ user.phone|default('') }}">
            {{ form_errors(form.phone) }}
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="user[password][first]" id="password">
            {{ form_errors(form.password.first) }}
        </div>
        <div>
            <label for="confirmPassword">Confirm Password: </label>
            <input type="password" name="user[password][second]" id="confirmPassword">
            {#{{ form_errors(form.password.second) }}#}
        </div>
        <div>
            <button type="submit" name="register">Register</button>
        </div>

        {{  form_row(form._token) }}
    </form>

{% endblock %}