{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}

    <div class="container mt-3">

        <h2>Registration form</h2>

        <span class="element-divider mt-3 mb-2"></span>

        <form method="POST" action="{{ path('register') }}">
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text"
                       name="user[firstName]"
                       class="form-control {{ form_errors(form.firstName) ? 'is-invalid' : user.firstName is defined ? 'is-valid' : '' }}"
                       id="firstName"
                       value="{{ user.firstName|default('') }}"
                       placeholder="letters only"
                >
                {% for errorItem in form.firstName.vars.errors %}
                    <div class="invalid-feedback">{{ errorItem.message }}</div>
                {% endfor %}
                {#{% if form_errors(form.firstName) %}#}
                    {#<div class="invalid-feedback">{{ form_errors(form.firstName) }}</div>#}
                {#{% endif %}#}
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text"
                       name="user[lastName]"
                       class="form-control {{ form_errors(form.lastName) ? 'is-invalid' : user.lastName is defined ? 'is-valid' : '' }}"
                       id="lastName"
                       value="{{ user.lastName|default('') }}"
                       placeholder="letters only"
                >
                {% for errorItem in form.lastName.vars.errors %}
                    <div class="invalid-feedback">{{ errorItem.message }}</div>
                {% endfor %}
                {#{% if form_errors(form.lastName) %}#}
                    {#<div class="invalid-feedback">{{ form_errors(form.lastName) }}</div>#}
                {#{% endif %}#}
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email"
                       name="user[email]"
                       class="form-control {{ form_errors(form.email) ? 'is-invalid' : user.email is defined ? 'is-valid' : '' }}"
                       id="email"
                       value="{{ user.email|default('') }}"
                       placeholder="please enter valid email"
                >
                {% for errorItem in form.email.vars.errors %}
                    <div class="invalid-feedback">{{ errorItem.message }}</div>
                {% endfor %}
                {#{% if form_errors(form.email) %}#}
                    {#<div class="invalid-feedback">{{ form_errors(form.email) }}</div>#}
                {#{% endif %}#}
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="text"
                       name="user[phone]"
                       class="form-control {{ form_errors(form.phone) ? 'is-invalid' : user.phone is defined ? 'is-valid' : '' }}"
                       id="phone"
                       value="{{ user.phone|default('') }}"
                       placeholder="numbers and + allowed"
                >
                {% for errorItem in form.phone.vars.errors %}
                    <div class="invalid-feedback">{{ errorItem.message }}</div>
                {% endfor %}
                {#{% if form_errors(form.phone) %}#}
                    {#<div class="invalid-feedback">{{ form_errors(form.phone) }}</div>#}
                {#{% endif %}#}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       name="user[password][first]"
                       class="form-control {{ form_errors(form.password.first) ? 'is-invalid' : '' }}"
                       id="password"
                       placeholder="password"
                >
                {% for errorItem in form.password.first.vars.errors %}
                    <div class="invalid-feedback">{{ errorItem.message }}</div>
                {% endfor %}
                {#{% if form_errors(form.password.first) %}#}
                    {#<div class="invalid-feedback">{{ form_errors(form.password.first) }}</div>#}
                {#{% endif %}#}
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm password</label>
                <input type="password"
                       name="user[password][second]"
                       class="form-control {{ form_errors(form.password.first) ? 'is-invalid' : '' }}"
                       id="confirmPassword"
                       placeholder="confirm password"
                >
                {% for errorItem in form.password.first.vars.errors %}
                    <div class="invalid-feedback">{{ errorItem.message }}</div>
                {% endfor %}
                {#{% if form_errors(form.password.first) %}#}
                    {#<div class="invalid-feedback">{{ form_errors(form.password.first) }}</div>#}
                {#{% endif %}#}
            </div>

            <span class="element-divider mt-3 mb-2"></span>

            <button type="submit" class="btn btn-primary">Sign up</button>

            {{ form_row(form._token) }}
        </form>

    </div>

{% endblock %}