{% extends 'base.html.twig' %}

{% block body_id 'outOfStock' %}

{% block adminNavigation %}
    {% include 'administration/adminNav.html.twig' %}
{% endblock %}

{% block main %}

    <div class="container">

        {% for message in app.session.flashbag.get('message') %}
            <div class="alert alert-success text-center" id="message">
                <i class="fa fa-thumbs-up"></i> {{ message }}
            </div>
        {% endfor %}

        <div class="form-group text-center">
            <label for="category">Filter by category</label>
            <select class="form-control" id="category">
                <option value="all" {{ app.request.get('filter') == 'all' ? 'selected' : '' }}>
                    all
                </option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {{ app.request.get('filter') == category.id ? 'selected' : '' }}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        {% if products|length == 0 %}
            <div class="alert alert-warning text-center h5">
                <i class="fa fa-exclamation-triangle"></i> There are no out of stock products in this category!
            </div>
        {% endif %}

        <div class="row mt-5">

            {% for product in products %}
                <div class="pull-left m-auto">
                    <div class="tProduct-wrapper">

                        <div class="tp-img-wrapper">
                            <a href="{{ path('productView', {'id': product.id}) }}" target="_blank">
                                <img src="{{ asset('images/uploads/products/' ~ product.image) }}"
                                     alt="Product picture">
                            </a>
                            {% if product.topProduct %}
                                <div class="tp-badge">
                                    <img src="{{ asset('images/top-product-badge.png') }}" alt="Badge picture">
                                </div>
                            {% endif %}
                        </div>

                        <div class="tp-name-price-wrapper">
                            <div class="row">
                                <a href="{{ path('productView', {'id': product.id}) }}" target="_blank">{{ product.title }}</a>
                            </div>
                            <div class="row">
                                <div class="col-6 pl-0"
                                ><span class="large-fonts">{{ product.price|number_format(2, ".", "") }}</span> LV
                                </div>
                                <div class="col-6 center-element">
                                    <a href="{{ path('productView', {'id': product.id}) }}" target="_blank">
                                        <button type="button" class="btn btn-primary">see more</button>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

    <script>
        $(document).ready(function () {
                $('#category').change(function () {
                        let categoryId = $(this).val();
                        let path = "{{ path('outOfStockView', {'filter': 'categoryId'}) }}";
                        path = path.replace('categoryId', categoryId);

                        window.location.replace(path);
                    }
                )
            }
        );
    </script>

{% endblock %}

