{% extends 'base.html.twig' %}

{% block body_id 'orderView' %}

{% block main %}

    <div class="container">

        <h2>Administration panel</h2>

        {% for message in app.session.flashbag.get('message') %}
            <div class="alert alert-success" id="message">
                <i class="fa fa-thumbs-up"></i> {{ message }}
            </div>
        {% endfor %}

        <h6 class="mt-1 text-center">Order status: <span class="{{ order.status == 'processing' ? 'processing-animation' : order.status == 'sent' ? 'text-success' : '' }}">{{ order.status|upper }}</span></h6>
        <h6 class="mt-1 text-center">Status last updated: {{ order.statusUpdate|date("d-m-Y H:i:s", "Europe/Sofia") }}</h6>
        <h6 class="mt-1 text-center">Order ID {{ order.id }} -> made by {{ order.user.fullName }} -> phone: {{ order.user.phone }}</h6>

        <div class="table-responsive">
            <table class="table">

                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Qty</th>
                    <th scope="col" class="text-right">Price</th>
                    <th scope="col" class="text-right">Total</th>
                </tr>
                </thead>

                <tbody>
                {% for orderItem in orderItems %}
                <tr>
                    <td><a href="{{ path('productView', {'id': orderItem.product.id}) }}" class="underline"
                           target="_blank">{{ orderItem.product.title }}</a>
                    </td>

                    <td>{{ orderItem.quantity }}</td>

                    <td class="text-right">{{ (orderItem.amount / orderItem.quantity)|number_format(2, ".", "") }}<span
                                class="font-weight-normal"> lv.</span>
                    </td>

                    <td class="text-right font-weight-bold">{{ orderItem.amount|number_format(2, ".", "") }}<span
                                class="font-weight-normal"> lv.</span>
                    </td>
                </tr>
                </tbody>
                {% endfor %}

                <tr>
                    <td colspan="3" class="text-right big-fonts font-weight-bold">Total amount:</td>
                    <td class="text-right big-fonts font-weight-bold">{{ order.total|number_format(2, ".", "") }}<span
                                class="font-weight-normal"> lv.</span>
                    </td>
                </tr>

            </table>

            <form method="POST" action="{{ path('singleOrder', {'orderId': order.id}) }}">
                <div class="form-group col-12">
                    <label for="comment">Comments</label>
                    <textarea
                            name="comment"
                            id="comment"
                            class="form-control"
                            rows="3"
                    >{{ order.comment }}</textarea>
                </div>

                <div class="col-12 text-right">
                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                </div>
            </form>

        </div>

        <div class="col-12 text-center mt-3">
            <input type="button" class="btn btn-primary btn-sm" value="Close" onclick="self.close()">
        </div>

    </div>

{% endblock %}